<div class="enterprise-setting" #entSettingDiv>
  <!--企业信息展示部分-->
  <div *ngIf="pageSection === 1">
    <!--审核状态提示信息-->
    <div class="enterprise-status">
      审核未通过，未通过原因：【审核意见】
    </div>
    <!--企业信息-->
    <div class="enterprise-info">
      <!--企业标题-->
      <div class="clearfix">
        <span>企业基本信息</span>
        <span class="fr">编辑</span>
      </div>
      <!--企业信息内容-->
      <div>
        <table class="ent-info-view">
          <tr>
            <td>企业名称</td>
            <td>{{enterpriseInfo?.enterpriseName}}
              <span *ngIf="enterpriseInfo?.certification === '未认证'">
              <img src="./../../../../assets/img/logo.png" alt="">我是未认证图标
            </span>
            </td>
            <td class="ent-span-btn">
            <span *ngIf="enterpriseInfo?.certification === '未认证'" (click)="pageSection = 2">
              立即认证
            </span>
            </td>
          </tr>
          <tr>
            <td>企业规模</td>
            <td>{{enterpriseInfo?.enterpriseScale}}</td>
            <td></td>
          </tr>
          <tr>
            <td>企业电话</td>
            <td>{{enterpriseInfo?.telephoneNum}}</td>
            <td></td>
          </tr>
          <tr>
            <td>企业所在地</td>
            <td>{{enterpriseInfo?.location}}</td>
            <td></td>
          </tr>
          <tr>
            <td>详细地址</td>
            <td>{{enterpriseInfo?.address}}</td>
            <td></td>
          </tr>
        </table>
      </div>
      <!--企业logo-->
      <div>企业logo</div>
      <!--上传企业logo-->
      <div>
        <div class="img-div-view">
          <img *ngIf="entLogoImg" [src]="entLogoImg" style="width: 70px; height: 70px; border-radius: 10px;">
          <button class="upload-btn" (click)="uploadImgBtn(1)">
            点此上传
          </button>
        </div>
        <div>【认证企业专享】，支持jpg/gif/png/bmp格式，图片小于10M。</div>
      </div>
    </div>
  </div>
  
  <!--企业认证介绍部分-->
  <div *ngIf="pageSection === 2" class="ent-certification-description">
    <h4>一、什么是企业认证</h4>
    <br>
    <p>企业认证，是中盈安信对注册用户企业身份的合法认证。</p>
    <br><br><br>
    <h4>二、为什么要进行企业验证？</h4>
    <br>
    <p> 已完成认证的企业有权使用中盈安信提供的更多服务。</p>
    <br><br><br>
    <h4>三、怎样进行企业验证？</h4>
    <br>
    <p> 企业管理————企业认证————申请认证————提交“认证材料”————等待“认证结果”。</p>
    <br>
    <table class="cert-desc">
      <tr>
        <td valign="top">说明</td>
        <td valign="top">（1）</td>
        <td valign="top"><p>认证材料包括：认证企业的名称、社会统一信用代码或注册号、营业执照扫描件、法人身份证件扫描件。</p></td>
      </tr>
      <tr>
        <td valign="top"></td>
        <td valign="top">（2）</td>
        <td valign="top"><p>成功提交材料后，用户需等待3个工作日（遇到周六日及节假日，认证审核顺延）。如经审核， 用户
          提供的企业认证资料切实有效，中盈安信将以消息的形式向用户发送“通过认证”的结果；否则， 将
          企业认证页面显示“驳回认证”的结果。</p>
        </td>
      </tr>
    </table>
    <br><br>
    <div>
      <button class="btn btn-info" (click)="pageSection = 3">
        申请认证
      </button>
      <button class="btn return-btn" (click)="pageSection = 1">
        返回
      </button>
    </div>
  </div>
  
  <!--输入企业认证信息资料页面-->
  <div *ngIf="pageSection === 3" class="ent-certification-info">
    <div>企业认证</div>
    <!--输入认证信息-->
    <div>
      <form nz-form [formGroup]="entCertForm">
        <!--企业名称-->
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>企业名称</label></div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="entCertForm.controls['entName']">
            <nz-input formControlName="entName" [nzSize]="'large'"></nz-input>
          </div>
          <div nz-form-explain
               *ngIf="entCertForm.controls['entName'].dirty&&entCertForm.controls['entName'].hasError('entName')">
            企业名称格式不对
          </div>
          <div nz-form-explain
               *ngIf="entCertForm.controls['entName'].dirty&&entCertForm.controls['entName'].hasError('required')">
            企业名称不能为空
          </div>
          <div style="margin: 40px 0  0 25%;">中文、字母、数字、“-”、“_”，1-20个字符</div>
        </div>
        <!--社会统一信用代码或注册号-->
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>社会统一信用代码或注册号</label></div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="entCertForm.controls['registerNumber']">
            <nz-input formControlName="registerNumber" [nzSize]="'large'"></nz-input>
          </div>
          <div nz-form-explain
               *ngIf="entCertForm.controls['registerNumber'].dirty&&entCertForm.controls['registerNumber'].hasError('required')">
            不能为空
          </div>
        </div>
        <!--营业执照-->
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>营业执照</label></div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="entCertForm.controls['businessLicense']">
            <nz-input formControlName="businessLicense" [(ngModel)]="entBusinessLiceImg" hidden="true"></nz-input>
            <div class="img-div-view fl">
              <img *ngIf="entBusinessLiceImg" [src]="entBusinessLiceImg" style="width: 70px; height: 70px; border-radius: 10px;">
              <button class="upload-btn" (click)="uploadImgBtn(2)">
                点此上传
              </button>
            </div>
            <div class="fl upload-img-desc">
              请上传企业营业执照原件照片或彩色扫描件，支持jpg/gif/png/bmp格式，图片小于10M。
            </div>
          </div>
        </div>
        <!--法人身份证-->
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6"><label nz-form-item-required>法人身份证</label></div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="entCertForm.controls['identityCard']">
            <nz-input formControlName="identityCard" [(ngModel)]="identityCardImg" hidden="true"></nz-input>
            <div class="img-div-view fl">
              <img *ngIf="identityCardImg" [src]="identityCardImg" style="width: 70px; height: 70px; border-radius: 10px;">
              <button class="upload-btn" (click)="uploadImgBtn(3)">
                点此上传
              </button>
            </div>
            <div class="fl upload-img-desc">
              请上传法人身份证正面和反面原件照片或彩色扫描件，支持批量上传，支持jpg/gif/png/bmp格式，图片小于10M。
            </div>
          </div>
        </div>
      </form>
      <!--如果有选项没填，提示有 必填项需要填写-->
      <div *ngIf="entCertForm.value.verify">
        有必填项没有填写，请填写后在提交审核！
      </div>
    </div>
    <!--按钮 提交、返回-->
    <div>
      <button class="btn btn-info" (click)="submitAuditBtn()">
        提交审核
      </button>
      <button class="btn return-btn" (click)="pageSection = 2">
        返回
      </button>
    </div>
  </div>
</div>

<!--添加图片弹窗-->
<nz-modal [nzVisible]="showAddImgDialog" [nzTitle]="'选择图片'" [nzContent]="choseImageDialog" [nzWidth]=""
          (nzOnCancel)="showAddImgDialog = false" (nzOnOk)="showAddImgDialog = false" [nzMaskClosable]="false">
  <ng-template #choseImageDialog>
    <div>
      <ngx-img (onSelect)="onSelect($event, addWhereImg)" (onReset)="reset(addWhereImg)" #ngxImg></ngx-img>
    </div>
  </ng-template>
</nz-modal>


