//组件HTML整体样式
.enterprise-setting {
  border: 14px solid #dbdcdf;
  padding: 0 2%;
  position: relative;
  //审核状态提示信息
  .enterprise-status {
    color: #EE6F2E;
    background-color: #F5F2E7;
    font-size: 20px;
    padding-left: 2%;
    height: 30px;
  }
  //企业信息部分
  .enterprise-info {
    padding: 0 5%;
  }
  //企业认证说明部分
  .ent-certification-description {
    margin-left: 15%;
    margin-top: 70px;
    margin-bottom: 70px;
    //说明表单的样式
    .cert-desc {
      width: 600px;
      tr {
        td {
          min-width: 35px;
        }
      }
    }
    //返回按钮样式
    .return-btn {
      background-color: #fff;
      color: #000;
      border: 1px solid #999;
      margin-left: 20px;
    }
  }

  //企业认证输入信息部分
  .ent-certification-info {
    margin: 30px 0;
    padding: 0 5%;
    //企业认证标题
    > div:nth-child(1) {
      background-color: #F5F5F6;
      font-size: 15px;
      padding: 10px 25px;
    }
    //输入认证信息
    > div:nth-child(2) {
      margin: 50px 0;
    }
    //按钮 提交、返回
    > div:nth-child(3) {
      margin: 0 0 0 25%;
    }
    //返回按钮样式
    .return-btn {
      background-color: #fff;
      color: #000;
      border: 1px solid #999;
      margin-left: 20px;
    }
  }
}

.enterprise-info {
  //企业基本信息标题、 企业logo标题
  > div:nth-child(2n - 1) {
    background-color: #F5F5F6;
    font-size: 15px;
    padding: 10px 25px;
  }
  //企业信息列表样式
  > div:nth-child(2) {
    margin: 0 10%;
  }
  //表单样式
  .ent-info-view {
    //行样式
    tr {
      //行中每个单元格样式
      td {
        font-size: 13px;
        padding: 15px;
      }
      //第一个单元格样式
      td:nth-child(1) {
        width: 101px;
        text-align: right;
      }
      //第二个单元格样式
      td:nth-child(2) {
        width: 300px;
        text-align: left;
      }
    }
  }
  //企业上传logo部分样式
  > div:nth-child(4) {
    margin: 20px 0 0 10%;
  }
  //企业认证按钮样式
  .ent-span-btn {
    > span  {
      color: #59acf8;
      cursor: pointer;
    }
  }
}
//图片显示
.img-div-view {
  height: 70px;
  width: 70px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  //上传图片按钮
  .upload-btn {
    position: absolute;
    top:50px;
    z-index: 10;
    height: 20px;
    line-height: 20px;
    width: 70px;
    border-radius: 0 0 10px 10px;
    background-color: transparent;
  }
}
//上传图片的要求
.upload-img-desc {
  width: 57%;
  line-height: 25px;
  margin-left: 20px;
}
