.summary {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  .component {
    padding: 15px 0;
    border-radius: 10px;
    overflow: auto;
    .header {
      overflow: auto;
      padding: 15px 0;
      border: 1px solid #e5e5e5;
      .imgCard {
        div {
          width: 75px;
          height: 75px;
          border: 1px solid #e5e5e5;
          position: relative;
          left: 50%;
          margin-left: -35px;
          img {
            width: 100%;
            height: 100%
          }
        }
      }
      .textContent {
        position: relative; // left: -40px;
        .enterpriseName {
          .title {
            padding-left: 0px
          }
          .manage {
            .btn {}
          }
        }
        .probation {
          margin: 0 5px;
          color: #ffffff;
          position: relative;
          top: -12px;
          span {
            background-color: rgba(255, 194, 0, 1);
          }
        }
        .formal {
          margin: 0 5px;
          color: #ffffff;
          position: relative;
          top: -12px;
          span {
            background-color: rgba(255, 194, 0, 1);
          }
        }
        .free {
          margin: 0 5px;
          color: #ffffff;
          position: relative;
          top: -12px;
          span {
            background-color: rgba(255, 194, 0, 1);
          }
        }
        .table {
          clear: both;
          padding: 35px 0px 20px 0;
          .enterpriseTable {
            width: 100%;
            .table-cell {
              float: left;
              width: 25%;
              .table-tr {
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
    .content {
      overflow: auto;
      padding: 15px;
      margin: 10px 0;
      border: 1px solid #e5e5e5;
      .enterpriseTable {
        width: 100%;
        .table-cell {
          float: left;
          width: 20%;
          padding: 32px;
          .table-tr {
            padding: 0 5px; // 
            // .spanClick {
            //   color: #00A1E9;
            //   cursor: pointer;
            // }
          }
        }
      }
    }
    .foot {
      border: 1px solid #e5e5e5;
      min-height: 360px;
      // margin: 10px 5px;
      padding: 15px;
      .login {
        display: inline-block;
      }
      .dateFilter {
        width: 35%;
        display: inline-block;
        float: right;
        position: relative;
      }
      .charts {
        height: 300px;
        width: 50%;
        position: relative;
        left: 20%
      }
    }
  }
}
