$ngx-img-width: 100% !default;
$ngx-img-height: 200px !default;
$ngx-img-font-family: "Helvetica", "Arial" !default;
$ngx-img-font-weight: 300 !default;
$ngx-img-font-size: 14px !default;
$ngx-img-line-height: 22px !default;
$ngx-img-text-color: #777 !default;
$ngx-img-icon-color: #CCC !default;
$ngx-img-background: #FFF !default;
$ngx-img-border-size: 2px !default;
$ngx-img-border-color: #E5E5E5 !default;
$ngx-img-infos-background: transparentize(#000, 0.3) !default;
$ngx-img-infos-color: #FFF !default;
$ngx-img-clear-color: #FFF !default;
$ngx-img-error-color: #f44336 !default;
$ngx-img-primary-color: #17a2c4 !default;
$ngx-img-stripes: #F6F6F6 !default;
$ngx-img-loader-size: 20px !default;
$ngx-img-loader-border: 1px !default;
$ngx-img-loader-fill: #CCC !default;
$ngx-img-loader-trace: #777 !default;

.ngx-img-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 300px;
  padding: 5px 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #333;
  background-color: #FFF;
  background-image: none;
  text-align: center;
  border: 2px solid #e5e5e5;
  transition: border-color 0.15s linear;

  &:hover {
    background-size: 30px 30px;
    background-image: linear-gradient(
        -45deg,
        #F6F6F6 25%,
        transparent 25%,
        transparent 50%,
        #F6F6F6 50%,
        #F6F6F6 75%,
        transparent 75%,
        transparent
    );
    animation: stripes 2s linear infinite;
  }

  &.has-preview {
    .ngx-img-clear {
      display: block;
    }
  }

  &.has-error {
    border-color: $ngx-img-error-color;

    .ngx-img-message .ngx-img-error {
      display: block;
    }

    &:hover {
      .ngx-img-errors-container {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  &.disabled {
    input {
      cursor: not-allowed;
    }

    &:hover {
      background-image: none;
      animation: none;
    }

    .ngx-img-message {
      opacity: 0.5;
      text-decoration: line-through;
    }

    .ngx-img-infos-message {
      display: none;
    }
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
  }

  .ngx-img-button {
    font-size: .7rem;
    padding: .6rem 1rem;
    background: $ngx-img-primary-color;
    box-shadow: none;
    border-radius: 10em;
    border: 0;
    color: #fff;
    margin-top: 1rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
  }

  .ngx-img-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    svg.ngx-img-upload {
      .st-1, .st-2 {
        fill: $ngx-img-primary-color;
      }
    }

    p {
      margin: 5px 0 0 0;

      &.ngx-img-error {
        color: $ngx-img-error-color;
        font-weight: bold;
        display: none;
      }
    }
  }

  .ngx-img-clear {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    background: none;
    border: 2px solid $ngx-img-clear-color;
    text-transform: uppercase;
    font-family: $ngx-img-font-family;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: bold;
    color: $ngx-img-clear-color;
    transition: all 0.15s linear;

    &:hover {
      background: transparentize($ngx-img-clear-color, 0.8);
    }
  }

  .ngx-img-preview {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: $ngx-img-background;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;

    .ngx-img-render {
      img {
        top: 50%;
        transform: translate(0, -50%);
        position: relative;
        max-width: 100%;
        max-height: 100%;
        background-color: $ngx-img-background;
        transition: border-color 0.15s linear;
      }

      i {
        font-size: 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        color: #777;
      }

      .ngx-img-extension {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: -0.03em;
        font-size: 13px;
        width: 42px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .ngx-img-infos {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background: $ngx-img-infos-background;
      opacity: 0;
      transition: opacity 0.15s linear;

      .ngx-img-infos-inner {
        position: absolute;
        top: 50%;
        transform: translate(0, -40%);
        backface-visibility: hidden;
        width: 100%;
        padding: 0 20px;
        transition: all 0.2s ease;

        p {
          padding: 0;
          margin: 0;
          position: relative;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $ngx-img-infos-color;
          text-align: center;
          line-height: 25px;
          font-weight: bold;

          &.ngx-img-infos-message {
            margin-top: 15px;
            padding-top: 15px;
            font-size: 12px;
            position: relative;
            opacity: 0.5;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%, 0);
              background: $ngx-img-infos-color;
              width: 30px;
              height: 2px;
            }
          }
        }
      }

    }
  }

  &:hover {
    .ngx-img-clear {
      opacity: 1;
    }

    .ngx-img-preview {
      .ngx-img-infos {
        opacity: 1;

        .ngx-img-infos-inner {
          margin-top: -5px;
        }
      }
    }
  }

  &.touch-fallback {
    height: auto !important;

    &:hover {
      background-image: none;
      animation: none;
    }

    .ngx-img-preview {
      position: relative;
      padding: 0;
      display: block;

      .ngx-img-render {
        display: block;
        position: relative;

        img {
          position: relative;
          transform: translate(0, 0);
        }
      }

      .ngx-img-infos {
        position: relative;
        opacity: 1;
        background: transparent;

        .ngx-img-infos-inner {
          position: relative;
          top: 0;
          transform: translate(0, 0);
          padding: 5px 90px 5px 0;

          p {
            padding: 0;
            margin: 0;
            position: relative;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $ngx-img-text-color;
            text-align: left;
            line-height: 25px;

            &.ngx-img-filename {
              font-weight: bold;
            }

            &.ngx-img-infos-message {
              margin-top: 0;
              padding-top: 0;
              font-size: 11px;
              position: relative;
              opacity: 1;
            }
          }
        }
      }
    }

    .ngx-img-message {
      transform: translate(0, 0);
      padding: 40px 0;
    }

    .ngx-img-clear {
      top: auto;
      bottom: 23px;
      opacity: 1;
      border-color: transparentize($ngx-img-text-color, 0.3);
      color: $ngx-img-text-color;
    }

    &.has-preview {
      .ngx-img-message {
        display: none;
      }
    }

    &:hover {
      .ngx-img-preview {
        .ngx-img-infos {
          .ngx-img-infos-inner {
            margin-top: 0;
          }
        }
      }
    }
  }

  .ngx-img-loader {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    z-index: 9;

    &::after {
      display: block;
      position: relative;
      width: $ngx-img-loader-size;
      height: $ngx-img-loader-size;
      animation: rotate 0.6s linear infinite;
      border-radius: 100%;
      border-top: $ngx-img-loader-border solid $ngx-img-loader-fill;
      border-bottom: $ngx-img-loader-border solid $ngx-img-loader-trace;
      border-left: $ngx-img-loader-border solid $ngx-img-loader-fill;
      border-right: $ngx-img-loader-border solid $ngx-img-loader-trace;
      content: '';
    }
  }

  .ngx-img-errors-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: transparentize($ngx-img-error-color, 0.2);
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.15s, opacity 0.15s linear;

    ul {
      padding: 10px 20px;
      margin: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      li {
        margin-left: 20px;
        color: #FFF;
        font-weight: bold;
      }
    }

    &.visible {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

  & ~ .ngx-img-errors-container {
    ul {
      padding: 0;
      margin: 15px 0;

      li {
        margin-left: 20px;
        color: $ngx-img-error-color;
        font-weight: bold;
      }
    }
  }
}


@keyframes stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
