<div class="administrator">
  <div class="component">
    <div class="step">
      <nz-steps [(nzCurrent)]="current">
        <nz-step class="first-child" [nzTitle]="'1安全验证'">
          <ng-template #nzIcon>
            <div class="nzIconContent">
              <div class="nzIconLeft" [ngClass]="{'oneActive': oneIsActive}"></div>
              <div class="nzIconRight" [ngClass]="{'twoActive': TwoisActive}"></div>
            </div>

          </ng-template>
        </nz-step>
        <nz-step class="second-child" [nzTitle]="'2重置管理员账号'">
          <ng-template #nzIcon>

            <div class="nzIconSContent">
              <div class="nzIconLeft ">
                <div class="nzIconLeftUpContent" [ngClass]="{'threeActive': threeIsActive}"></div>
                <div class="nzIconLeftDownContent" [ngClass]="{'fourActive': fourIsActive}"></div>
                <div class="nzIconRightContent" [ngClass]="{'fiveActive': fiveIsActive}"></div>
              </div>
              <div class="nzIconRight ant-steps-icon" [ngClass]="{'sixActive': sixIsActive}"></div>
            </div>
          </ng-template>
        </nz-step>
        <nz-step class="third-child" [nzTitle]="'3注册成功'">
          <ng-template #nzIcon>

            <div class="nzIconTContent ant-steps-icon">
              <div class="nzIconLeft ant-steps-icon">
                <div class="nzIconLeftUpContent" [ngClass]="{'elevenActive': elevenIsActive}"></div>
                <div class="nzIconLeftDownContent" [ngClass]="{'twelveActive': twelveIsActive}"></div>
              </div>
              <div class="nzIconRightContent ant-steps-icon" [ngClass]="{'thirteenActive': thirteenIsActive}"></div>
            </div>
          </ng-template>
        </nz-step>
      </nz-steps>

      <div class="steps-content first-content" *ngIf="firstContent">
        <form nz-form [formGroup]="validateForm">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label nz-form-item-required>当前管理员姓名</label>
            </div>
            <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('userName')">
              <nz-input formControlName="userName" [nzReadonly]=t rue [nzType]="'text'" [nzSize]="'large'">
              </nz-input>
            </div>

          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label nz-form-item-required>手机号</label>
            </div>
            <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('phoneNumber')">
              <nz-input formControlName="phoneNumber" [nzReadonly]=t rue [nzType]="'phoneNumber'" [nzSize]="'large'">
              </nz-input>

            </div>
            <div nz-form-label nz-col [nzSpan]="4">
              <button class="btn btn-info" *ngIf="identifyStatus" (click)="identifyClick()">
                <span>获取验证码</span>
              </button>
              <button [disabled]="disabled" class="btn btn-cancle" *ngIf="sendStatus">
                <span>{{ count }}秒后可重发</span>
              </button>
            </div>

          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
              <label nz-form-item-required>短信验证码</label>
            </div>
            <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('identifyingCode')">
              <nz-input formControlName="identifyingCode" [nzType]="'identifyingCode'" [nzSize]="'large'">
              </nz-input>

            </div>

          </div>
        </form>


      </div>
      <div class="steps-content second-content" *ngIf="secondContent" style="font-size:32px;color:pink;">为了部落</div>
      <!-- <div class="steps-content" *ngIf="thirdContent" style="font-size:32px;color:green">兽人永不为奴</div> -->
      <div class="steps-content third-content" *ngIf="fourContent" style="font-size:32px;color:blue">愿黑暗与你同在!</div>

      <div class="steps-action">
        <!--&&current<3-->
        <!-- <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
          <span>上一步</span>
        </button> -->
        <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 1">
          <span *ngIf="current < 1">下一步</span>
          <!-- <span *ngIf="current === 1">完成</span>  -->
        </button>
        <button nz-button [nzType]="'primary'" (click)="next()" *ngIf="current === 1">
          <span>完成</span>
        </button>
      </div>
    </div>
  </div>
</div>
