.administrator {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  .component {
    padding: 15px 0;
    border-radius: 10px;
    overflow: auto;
    .step {
      width: 700px;
      position: relative;
      left: 50%;
      margin-left: -350px;
      .steps-content {
        min-height: 200px;
        text-align: center;
        padding-top: 80px;
        border-top: none;
        margin-top: 30px;
        width: 100%;
      }
      .steps-action {
        text-align: center;
        
      }
      .ant-steps .ant-steps-main {
        position: relative;
        display: inline-block;
        vertical-align: top;
      }
      .ant-steps .ant-steps-item.ant-steps-custom .ant-steps-head-inner {
        background: none;
        border: 0;
        width: 100%;
        height: auto;
      }
      /*步骤一的css样式*/
      .nzIconContent {
        width: 250px;
        height: 40px;
        position: absolute;
        box-sizing: border-box;
        display: inline-block;
        .nzIconLeft {
          width: 92%;
          background: #CCCCCC;
          height: 100%;
          box-sizing: border-box;
          display: inline-block;
          float: left;
        }
        .nzIconRight {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-left: 20px solid #CCCCCC;
          border-bottom: 20px solid transparent;
          box-sizing: border-box;
          display: inline-block;
        }
        .oneActive {
          background: #00A1E9;
        }
        .twoActive {
          border-left: 20px solid #00A1E9;
        }
      }
      /*步骤二 三的样式**/
      .nzIconSContent {
        width: 250px;
        height: 40px;
        position: absolute;
        box-sizing: border-box;
        display: inline-block;
        .nzIconLeft {
          width: 92%;
          height: 100%;
          display: inline-block;
          float: left;
          .nzIconLeftUpContent {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 25px solid #CCCCCC;
            border-left: 25px solid transparent;
          }
          .nzIconLeftDownContent {
            position: absolute;
            top: 18px;
            width: 0;
            height: 0;
            border-bottom: 22px solid #CCCCCC;
            border-left: 25px solid transparent;
          }
          .nzIconRightContent {
            width: 90%;
            height: 100%;
            float: right;
            background: #CCCCCC;
          }
        }
        .nzIconRight {
          border-top: 20px solid transparent;
          border-left: 20px solid #CCCCCC;
          border-bottom: 20px solid transparent;
          box-sizing: border-box;
          display: inline-block;
        }
        .threeActive {
          border-top: 25px solid #00A1E9 !important;
        }
        .fourActive {
          border-bottom: 22px solid #00A1E9 !important;
        }
        .fiveActive {
          background: #00A1E9 !important;
        }
        .sixActive {
          border-left: 20px solid #00A1E9 !important;
        }
      }
      /*步骤四的样式*/
      .nzIconTContent {
        display: inline-block;
        width: 205px;
        height: 40px;
        position: absolute;
        box-sizing: border-box;
        .nzIconLeftUpContent {
          position: absolute;
          width: 0;
          height: 0;
          border-top: 25px solid #CCCCCC;
          border-left: 25px solid transparent
        }
        .nzIconLeftDownContent {
          position: absolute;
          top: 18px;
          width: 0;
          height: 0;
          border-bottom: 22px solid #CCCCCC;
          border-left: 25px solid transparent
        }
        .nzIconRightContent {
          width: 88%;
          height: 100%;
          float: right;
          background: #CCCCCC;
        }
        .elevenActive {
          border-top: 25px solid #00A1E9 !important;
        }
        .twelveActive {
          border-bottom: 22px solid #00A1E9 !important;
        }
        .thirteenActive {
          background: #00A1E9 !important;
        }
      }
    }
  }
}
