<div class="patrol">
  <div class="component">
    <!-- <div class="title">
      企业信息
    </div> -->
    <div *ngIf="!Property">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 substance">
        <div class="imgCard col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div>

          </div>
        </div>
        <div class=" textCont col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="head">
            <div class="enterpriseName fl">
              <h5> 巡线卫士</h5>
            </div>
          </div>
          <!-- <div class="enterpriseName col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4> 巡线卫士</h4>
          </div> -->
          <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-8">
            巡线卫士是一款为管线安全生产管理提供支撑的移动应用软件,通过云端巡检、闭环管理和移动互联,能够实时监控巡检动态、优化巡检流程,从而提高管线管理工作的效率。
          </div>
          <div class="foot fr col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="btn-message">详情
              <span>>></span>
            </span>
          </div>
        </div>
      </div>
      <div class="btnBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <button class="btn btn-info " (click)="opened()">立即开通</button>
        </div>

      </div>
    </div>
    <div *ngIf="Property">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 substance">
        <div class="imgCard col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div>

          </div>
        </div>
        <div class="textCont col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="head">
            <div class="enterpriseName fl">
              <h5> 巡线卫士</h5>
            </div>
            <div class="probation fl" *ngIf="Property">
              <span>试用版</span>
            </div>
            <!-- <div class="free fl">
              <span>免费版</span>
            </div> -->
            <!-- <div class="formal fl">
              <span>正式版</span>
            </div> -->

            <div class="free fl">
              <span>免费版</span>
            </div>
            <div class="immediate fl">
              <button class="btn btn-message" (click)="stop()">停用</button>
            </div>
          </div>

          <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-8">
            巡线卫士是一款为管线安全生产管理提供支撑的移动应用软件,通过云端巡检、闭环管理和移动互联,能够实时监控巡检动态、优化巡检流程,从而提高管线管理工作的效率。
          </div>
          <div class="foot fr col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="btn-message">详情
              <span>>></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
        <table class="enterpriseTable  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <tr class="table-cell fl" style="width:25%">
            <td class="table-td">开通日期</td>
            <td class="table-tr">
              <span>2017-11-10</span>
            </td>
          </tr>
          <tr class="table-cell fl" style="width:25%">
            <td class="table-td">到期日期</td>
            <td class="table-tr">
              <span>2017-11-10</span>
            </td>
          </tr>
          <tr class="table-cell fl" style="width:25%">
            <td class="table-td">状态</td>
            <td class="table-tr">
              <span>未激活</span>
            </td>
          </tr>
          <tr class="table-cell fl" style="width:25%">
            <td class="table-td">管理员</td>
            <td class="table-tr">
              <span>刘燕</span>

            </td>
            <td class="table-tr">
              <span class="btn btn-message" (click)="change()">更换管理员</span>
            </td>
          </tr>


        </table>
      </div>
    </div>
  </div>
  <!-- 停用 -->
  <nz-modal *ngIf="newIsVisible" [nzVisible]="newIsVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="stopCancel($event)">
    <ng-template #modalTitle>
      停用
    </ng-template>
    <ng-template #modalContent>
      <p>您确定要停用巡线卫士吗？</p>
      <p>停用后本企业用户将无法使用该产品</p>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="stopOk($event)">
        确认
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="stopCancel($event)">
        取消
      </button>
    </ng-template>
  </nz-modal>

  <!-- 更改管理员弹出框 -->
  <nz-modal *ngIf="isVisible" class="select" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="newhandleCancel($event)">
    <ng-template #modalTitle>
      更换管理员
    </ng-template>
    <ng-template #modalContent>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required> 选择企业用户</label>
          </div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('selectedOption')">
            <nz-select [nzSize]="'large'" nzAllowClear [nzPlaceHolder]="'请输入姓名进行搜索'" [nzNotFoundContent]="'无法找到'" formControlName="selectedOption"
              [nzShowSearch]="true">
              <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div nz-form-explain *ngIf="getFormControl('selectedOption').dirty&&getFormControl('selectedOption').hasError('required')">请设置应用管理员</div>
        </div>
      </form>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="sendOk($event)">
        确认
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="newhandleCancel($event)">
        取消
      </button>
    </ng-template>
  </nz-modal>

  <!-- 立即开通弹出框 -->
  <nz-modal *ngIf="openVisible" class="select" [nzVisible]="openVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="openhandleCancel($event)">
    <ng-template #modalTitle>
      开通
    </ng-template>
    <ng-template #modalContent>
      <form nz-form [formGroup]="opendateForm" (ngSubmit)="_submitForm()">
        <div class="title"> 将为您开通巡线卫士,请设置应用管理员</div>
        <div nz-form-item nz-row>

          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required> 选择企业用户</label>
          </div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="openFormControl('administrator')">
            <nz-select [nzSize]="'large'" nzAllowClear [nzPlaceHolder]="'请输入姓名进行搜索'" [nzNotFoundContent]="'无法找到'" formControlName="administrator"
              [nzShowSearch]="true">
              <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div nz-form-explain *ngIf="openFormControl('administrator').dirty&&openFormControl('administrator').hasError('required')">请设置应用管理员</div>
        </div>
      </form>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="openOk($event)">
        确认
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="openhandleCancel($event)">
        取消
      </button>
    </ng-template>
  </nz-modal>


</div>
