.step {
  .ant-steps .ant-steps-title {
    position: relative;
    left: 40px;
    top: 6px;
    background: none;
    color: #fff !important;
  }
  .ant-steps .ant-steps-tail>i {
    height: 0
  } 
  .first-child  {
    width: 43% !important
  }
  .second-child  {
    width: 43% !important
  }
  .third-child  {
    width: 14%
  }
  .ant-steps .ant-steps-item.ant-steps-custom .ant-steps-head-inner>.ant-steps-icon {
    font-size: 26px;
    height: 26px;
    width: 100% !important;
    display: contents !important;
  }
}
