<div class="examine">
  <div class="component">
    <div class="head">
      <div class="toobar clearfix">
        <div class="search fl clearfix">
          <input type="search fl" class="input-search" placeholder="输入关键字搜索" [(ngModel)]="searchValue">
          <i class="anticon anticon-search ant-input-search-icon icon-btn-search"></i>
          <button class="btn btn-info fr" (click)='search()'>搜索</button>
        </div>
        <button class="btn btn-cancle fr">刷新</button>
      </div>
    </div>
    <div class="content">
      <nz-table #nzTable [nzDataSource]="_dataSet" [nzIsPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th>
              <span>姓名</span>
            </th>
            <th nz-th>
              <span>手机号</span>
            </th>
            <th nz-th>
              <span>部门</span>
            </th>
            <th nz-th>
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>
              {{data.name}}
            </td>
            <td nz-td>{{data.age}}</td>
            <td nz-td>{{data.address}}</td>

            <td nz-td>
              <span class="btn-message" (click)='clickMessage(data)'>审核</span>

            </td>

          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>


  <!-- 申请加入企业 -->
  <nz-modal [nzVisible]="newVisible" *ngIf="newVisible" [nzWidth]="'600px'" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="newCancel($event)">
    <ng-template #modalTitle>
     用户审核
    </ng-template>
    <ng-template #modalContent>
      <!-- (ngSubmit)="submitForm($event,validateForm.value)" -->
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required> 审核结果</label>
          </div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('selectedOption')">
            <nz-select [nzSize]="'large'" nzAllowClear  formControlName="selectedOption">
              <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
              </nz-option>
            </nz-select>
          </div>
          <div nz-form-explain *ngIf="getFormControl('selectedOption').dirty&&getFormControl('selectedOption').hasError('required')">审核结果不能为空</div>
        </div>

        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>审核意见</label>
          </div>
          <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('enterpriseName')">
            <nz-input formControlName="applyValue" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="''"></nz-input>

          </div>

        </div>

      </form>
    </ng-template>


    <ng-template #modalFooter>
      <button nz-button class="btn-info" [nzType]="'submit'" [nzSize]="'large'" (click)="sendOk($event,validateForm.value)">
        确认
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="newCancel($event)">
        取消
      </button>
    </ng-template>
  </nz-modal>

</div>
