.examine {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  .component {
    padding: 15px 0;
    border-radius: 10px;
    overflow: auto;
    .content {
      padding: 15px 0px;
    }
  }
}
