<div class="personal-info">
    <div class="component">
        <div class="header">
            <span class="text">
        <h3>个人信息</h3>
      </span>
            <span class="btn-message" (click)="editClick()">编辑信息</span>
        </div>
        <div class="content">
            <div class="leftContent">
                <!-- <input type="file"> -->
            </div>
            <div class="rightContent">
                <table class="rightTable" *ngIf="personalValue">
                    <tr class="table-cell">
                        <td class="table-td">姓名</td>
                        <td class="table-tr">哈利路亚</td>
                        <td class="table-td">手机号</td>
                        <td class="table-tr">
                            <span>13333333333</span>
                            <span class="btn-message" (click)="phoneClick()">修改</span>
                        </td>
                    </tr>
                    <tr class="table-cell">
                        <td class="table-td">性别</td>
                        <td class="table-tr">未知</td>
                        <td class="table-td">邮箱</td>
                        <td class="table-tr">0101010101</td>
                    </tr>
                    <tr class="table-cell">
                        <td class="table-td">出生日期</td>
                        <td class="table-tr">10001010</td>
                        <td class="table-td">微信</td>
                        <td class="table-tr">110110</td>
                    </tr>
                    <tr class="table-cell">
                        <td class="table-td">注册日期</td>
                        <td class="table-tr">2015/10/25</td>
                        <td class="table-td">QQ</td>
                        <td class="table-tr">1091706685</td>
                    </tr>
                    <tr class="table-cell">
                        <td class="table-td">公司</td>
                        <td class="table-tr">中盈安信</td>
                    </tr>
                    <tr class="table-cell">
                        <td class="table-td">部门</td>
                        <td class="table-tr">研发中心</td>
                        <td class="table-td">职位</td>
                        <td class="table-tr">工程师</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>


</div>
<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
    <ng-template #modalTitle>
        编辑个人信息
    </ng-template>
    <ng-template #modalContent>
        <!-- (ngSubmit)="submitForm($event,validateForm.value)" -->
        <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label nz-form-item-required>姓名</label>
                </div>
                <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('userName')">
                    <nz-input formControlName="userName" [nzType]="'text'" [nzPlaceHolder]="'请填写真实姓名'" [nzSize]="'large'">
                    </nz-input>
                    <div>支持中文、字母，1-20个字符</div>
                </div>
                <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('required')">姓名不能为空</div>
                <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('userName')">格式错误</div>

            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label>出生日期</label>
                </div>
                <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('_date')">
                    <nz-datepicker style="width: 100%;" formControlName="_date" [nzPlaceHolder]="'Select date'"></nz-datepicker>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label>性别</label>
                </div>
                <nz-radio-group formControlName="radioValue">
                    <label nz-radio [nzValue]="'A'">
            <span>男</span>
          </label>
                    <label nz-radio [nzValue]="'B'">
            <span>女</span>
          </label>
                </nz-radio-group>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label>邮箱</label>
                </div>
                <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('email')">
                    <nz-input formControlName="email" [nzPlaceHolder]="'请填写邮箱'" [nzType]="'email'" [nzSize]="'large'">
                    </nz-input>

                    <!-- <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')">邮箱不能为空</div> -->
                </div>
                <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">邮箱格式错误</div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label>微信</label>
                </div>
                <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('wx')">
                    <nz-input formControlName="wx" [nzPlaceHolder]="'请填写微信'" [nzType]="'wx'" [nzSize]="'large'">
                    </nz-input>

                </div>
                <div nz-form-explain *ngIf="getFormControl('wx').dirty&&getFormControl('wx').hasError('wx')">微信号1到50个字符</div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label>QQ</label>
                </div>
                <div nz-col [nzSpan]="11" nz-form-control [nzValidateStatus]="getFormControl('qq')">
                    <nz-input formControlName="qq" [nzPlaceHolder]="'请填写qq'" [nzType]="'qq'" [nzSize]="'large'">
                    </nz-input>

                </div>
                <div nz-form-explain *ngIf="getFormControl('qq').dirty&&getFormControl('qq').hasError('qq')">QQ号最少5位</div>
            </div>

        </form>
    </ng-template>


    <ng-template #modalFooter>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event,validateForm.value)">
      确认
    </button>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    </ng-template>
</nz-modal>



<nz-modal *ngIf="phoneIsVisible" [nzVisible]="phoneIsVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="sendCancel($event)">
    <ng-template #modalTitle>
        修改手机号
    </ng-template>
    <ng-template #modalContent>
        <div *ngIf="original" class="original">
            <div nz-row class="phoneNumber">
                <div nz-col [nzSm]="17" [nzXs]="19">
                    <nz-input-group [nzSize]="'large'" [nzCompact]="true">
                        <input [(ngModel)]="phoneNumberPrefix" id="'phoneNumberPrefix'" readonly nz-input style="width: 25%;">
                        <input [(ngModel)]="phoneNumber" id="'phoneNumber'" readonly nz-input style="width: 75%;">
                    </nz-input-group>
                </div>
            </div>
            <div nz-row>
                <div class="identifying" nz-col [nzSm]="17" [nzXs]="19">
                    <nz-input-group [nzSize]="'large'" [nzCompact]="true">
                        <input [(ngModel)]="identifying" id="'identifying'" (ngModelChange)="ngModelChange($event)" nz-input style="width: 64%;float:left">
                        <button class="btn btn-info" *ngIf="identifyStatus" (click)="identifyClick()">
              <span>获取验证码</span>
            </button>
                        <button [disabled]="disabled" class="btn btn-cancle" *ngIf="sendStatus">
              <span>{{ count }}秒后可重发</span>
            </button>
                    </nz-input-group>
                </div>
            </div>

        </div>
        <div *ngIf="nowPhoneStatus" class="nowPhone">
            <form nz-form [formGroup]="phonedateForm">
                <div nz-form-item nz-row class="phonedateForm">
                    <div nz-form-control nz-col [nzSm]="16" [nzXs]="24" [nzValidateStatus]="getPhoneControl('nowPhoneNumber')">
                        <nz-input-group [nzSize]="'large'" [nzCompact]="true">
                            <input value="86" readonly nz-input style="width: 16%;">
                            <input formControlName="nowPhoneNumber" id="'nowPhoneNumber'" nz-input style="width: 75%;">
                        </nz-input-group>

                    </div>
                    <div nz-form-explain *ngIf="getPhoneControl('nowPhoneNumber').dirty&&getPhoneControl('nowPhoneNumber').hasError('nowPhoneNumber')">手机格式错误</div>
                </div>
            </form>
            <div nz-row>
                <div class="nowidentifying" nz-col [nzSm]="18" [nzXs]="20">
                    <nz-input-group [nzSize]="'large'" [nzCompact]="true">
                        <input [(ngModel)]="nowIdentifying" id="'nowIdentifying'" (ngModelChange)="nowChange($event)" nz-input style="width: 64%;float:left">
                        <button class="btn btn-info" [disabled]='nowIdentyStatus' *ngIf="nowIdentifyStatus" (click)="nowIdentifyClick()">
              <span>获取验证码</span>
            </button>
                        <button [disabled]="nowDisabled" class="btn btn-cancle" *ngIf="nowSendStatus">
              <span>{{ count }}秒后可重发</span>
            </button>
                    </nz-input-group>
                </div>
            </div>
        </div>
    </ng-template>


    <ng-template #modalFooter>
        <button nz-button [nzType]="'primary'" [disabled]="nextStatus" *ngIf="original" [nzSize]="'large'" (click)="nextStep($event)">
      下一步
    </button>
        <button nz-button [nzType]="'primary'" [disabled]="successStatus" *ngIf="nowPhoneStatus" [nzSize]="'large'" (click)="sendOk()">
      保存
    </button>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="sendCancel($event)">
      取消
    </button>
    </ng-template>
</nz-modal>