.content {
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  .tab {
    padding: 0 30px;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    width: 99%;
    background: #F5F5F6;
    .btn-reset {
      position: absolute;
      right: 10px
    }
    .clearfix {
      li {
        float: left;
        width: 16.666%;
        min-width: 100px;
        height: 45px; // border-radius: 10px 10px 0 0;
        border-bottom: none;
        a,
        .route-link {
          text-align: center; // background-color: #F2F2F2;
          width: 100%;
          padding: 10px 0;
          margin: 4px 0;
          display: inline-block;
          color: #323232;
          border-right: 1px solid #e5e5e5 !important; // line-height: 40px; // border-radius: 10px 10px 0 0;
          border: none;
          cursor: pointer;
          &:not(disabled):hover {
            color: #323232; // background-color: #fff;
          }
        }
        .active {
          // background-color: #fff;
          color: rgba(0, 161, 233, 1);
          border-bottom: 3px solid rgba(0, 161, 233, 1);
        }
        a:last-child {
          border-right: none
        }
      }
    }
  }
  .enterpriseContent {
    width: 98%; // border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 6px 10px 2px;
    position: absolute;
    padding: 15px 0;
  }
}
