<div class="content">
  <div class="tab" *ngIf="tab">
    <ul class="clearfix">
      <li>
        <a (click)="summaryInfo()" [ngClass]='{"active":summaryState  && summaryState != -1}'>概述</a>
      </li>
      <li>

        <a (click)="userInfo()" [ngClass]='{"active":userState  && userState != -1}'>用户</a>
      </li>
      <li>

        <a (click)="roleInfo()" [ngClass]='{"active":roleState  && roleState != -1}'>角色</a>
      </li>
      <li>

        <a (click)="examineInfo()" [ngClass]='{"active":examineState  && examineState != -1}'>用户审核</a>
      </li>
      <li>

        <a (click)="AdministratorsInfo()" [ngClass]='{"active":AdministratorsState  && AdministratorsState != -1}'>更换管理员</a>
      </li>
    </ul>

  </div>
  <div class="enterpriseContent">
    <router-outlet></router-outlet>
  </div>

</div>
